<html>
<link rel="stylesheet" type="text/css" href="index.css">
<link href="https://fonts.googleapis.com/css?family=Karla|Merriweather&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


<head>
    <link rel="icon" href="https://i.imgur.com/hSDwZMgs.jpg">
    <title>About</title>
</head>
<body>
    
    <header>
        <% include ../partials/sideNav.ejs %>
    </header>

    <img src="https://i.imgur.com/H2QU5Z7.png">
    
   <!--  <div class="about"> 
        <img class="mePic" src="https://i.imgur.com/Gx1qGkb.jpg">
  <div class="bio">
    <h1>Meet Emmy</h1>
    <p>Hey there, my name is Emmy Shaffer! I am a Pacific Northwest Native that moved to San Diego, CA this summer. I specialize in Lifestyle, Editoial and Landscape Photography. I piqued an interest in portraits around 5 years ago. I fell in love with taking something or someone simple and creating it into a complex piece of art. Along the way, I developed a love for hiking and the crazy outdoors, that is when I dipped my toe in landscape photography. I am a huge fan of 70s rock, the movie Superbad, people, life and Jesus. I cannot wait to capture moments for you to keep forevaaa!</p> -->

<!-- </div>
</div> -->

<div class="contact">
    <h3>Contact Me</h3>
    <p>emmyshaff@gmail.com</p>
    <p>instagram @ emmysflix</p>
    <p>(360) 328-8346</p>
</div>

<footer> <% include ../partials/footer.ejs %> </footer>
</body>
</html>


<style type="text/css">
.bio{
    padding-left: 270px;
    font-family: 'Karla', sans-serif;
    border: 5px solid black;
}




img {
  
    padding-top: 70px;
    padding-left: 268px;
    width: 87%;

  
}

.column{
    background: black;
}

.main_link{
    text-align: center;
    text-decoration: none;
    color: black;
    font-family: 'Lexend Giga', sans-serif;
}
.main_link:hover{
    border:5px solid white;
}
.name{
    margin-bottom: -15px;
}
.photoBody{
    background: url(https://i.imgur.com/H3REAUM.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}


.subtitle{
    padding-top: 20px;
    font-size: 30px;
    font-family: 'Karla', sans-serif;
    text-transform: lowercase;
    padding-left: 14px;
    position: fixed;

}

.title{
    padding-top: 60px;
    color: white;
    text-align: center;
    font-size: 50px;
    font-family: 'Cedarville Cursive', cursive;

}


</style>