<header>
<a class="home_link" href="/"><h1 class="subtitle">By Emma Caroline.</h1></a>
    <div class="sideNav">
        <a href="/about">meet emmy</a>
        <a href="/love">love</a>
        <a href="/landscape">go outside</a>
        <a href="/colour">colour</a>
        <a href="/bw">colourless</a>
        
        
    </div>
    </header>

    <style type="text/css">
    .column {
    flex: 20%;
  
  
}


.column img {
  
    vertical-align: middle;
    width: 100%;
    border: 6px solid black;
  

  
}

.home_link, .home_link:hover{
	color: black;
}

.main_link{
    text-align: center;
    text-decoration: none;
    color: black;
    font-family: 'Lexend Giga', sans-serif;
}
.main_link:hover{
    border:5px solid white;
}
.name{
    margin-bottom: -15px;
}
.photoBody{
    background: url(https://i.imgur.com/H3REAUM.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}
.row {
    margin-top: 8px;
    padding-top: 62px;
    display: flex;
    flex-wrap: wrap;
    padding-left: 283px;
  
 
}
.sideNav{
    height: 100%;
    width: 268px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: black;
    overflow-x: hidden;
    padding-top: 20px;
    margin-top: 70px;
    


}
.sideNav a{
    display: block;
    text-decoration: none;
    color: white;
    padding-left: 14px;
}
.sideNav a:hover{
    text-decoration: none;
    color: gray;
}

.subtitle{
    padding-top: 20px;
    font-size: 30px;
    font-family: 'Karla', sans-serif;
    text-transform: lowercase;
    padding-left: 14px;
    position: fixed;

}

.title{
    padding-top: 60px;
    color: white;
    text-align: center;
    font-size: 50px;
    font-family: 'Cedarville Cursive', cursive;

}


</style>