<html>
<link rel="stylesheet" type="text/css" href="index.css">
<link href="https://fonts.googleapis.com/css?family=Karla|Merriweather&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


<head>
    <link rel="icon" href="https://i.imgur.com/hSDwZMgs.jpg">
    <title>By EmmaCaroline</title>
</head>
<body>
    
    <header>
        <% include ../partials/sideNav.ejs %>
    </header>
    
    <div class="row"> 
  <div class="column">
    <img src="https://i.imgur.com/WeTMXZ7.jpg">
    <img src="https://i.imgur.com/Av2Onff.jpg">
    <img src="https://i.imgur.com/yUj6zJk.jpg">
    <img src="https://i.imgur.com/bJ0WLeg.jpg">
    <img src="https://i.imgur.com/8YdJgkR.jpg">
    <img src="https://i.imgur.com/mSYrmpn.jpg">
    <img src="https://i.imgur.com/LaKCHce.jpg">
    <img src="https://i.imgur.com/aVZ1PXZ.jpg">
  </div>
  <div class="column">
    <img src="https://i.imgur.com/PpPWT9J.jpg">
    <img src="https://i.imgur.com/h6qRHRi.jpg?1">
    <img src="https://i.imgur.com/oDDv0Cr.jpg">
    <img src="https://i.imgur.com/R95eVob.jpg">
    <img src="https://i.imgur.com/88R8nGW.jpg">
    <img src="https://i.imgur.com/sVbllcD.jpg">
    <img src="https://i.imgur.com/7ZpgYJ3.jpg">
    <img src="https://i.imgur.com/joIw6oI.jpg">
    <img src="https://i.imgur.com/RtuKOWj.jpg">
  </div> 
  <div class="column">
    <img src="https://i.imgur.com/u7UNkzE.jpg">
    <img src="https://i.imgur.com/te9x0bX.jpg">
    <img src="https://i.imgur.com/N2atDML.jpg">
    <img src="https://i.imgur.com/Axz2WkB.jpg">
    <img src="https://i.imgur.com/MUIMSYh.jpg">
    <img src="https://i.imgur.com/2CUfAsg.jpg">
    <img src="https://i.imgur.com/GZEx8LE.jpg">
    <img src="https://i.imgur.com/c0HfBYw.jpg">
    <img src="https://i.imgur.com/skepuWY.jpg">
    </div>
</div>

<footer> <% include ../partials/footer.ejs %> </footer>
</body>
</html>


<style type="text/css">
    .column {
    flex: 20%;
  
  
}


.column img {
  
    vertical-align: middle;
    width: 100%;
    border: 6px solid black;
  

  
}

.column{
    background: black;
}

.main_link{
    text-align: center;
    text-decoration: none;
    color: black;
    font-family: 'Lexend Giga', sans-serif;
}
.main_link:hover{
    border:5px solid white;
}
.name{
    margin-bottom: -15px;
}
.photoBody{
    background: url(https://i.imgur.com/H3REAUM.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}
.row {
    margin-top: 8px;
    padding-top: 62px;
    display: flex;
    flex-wrap: wrap;
    padding-left: 283px;
  
 
}


.subtitle{
    padding-top: 20px;
    font-size: 30px;
    font-family: 'Karla', sans-serif;
    text-transform: lowercase;
    padding-left: 14px;
    position: fixed;

}

.title{
    padding-top: 60px;
    color: white;
    text-align: center;
    font-size: 50px;
    font-family: 'Cedarville Cursive', cursive;

}


</style>