<html>
<link rel="stylesheet" type="text/css" href="index.css">
<link href="https://fonts.googleapis.com/css?family=Karla|Merriweather&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


<head>
    <link rel="icon" href="https://i.imgur.com/hSDwZMgs.jpg">
    <title>Landscapes</title>
</head>
<body>
    
    <header>
        <% include ../partials/sideNav.ejs %>
    </header>
    
    <div class="row"> 
  <div class="column">
    <img src="https://i.imgur.com/NMfKOID.jpg">
    <img src="https://i.imgur.com/bFam45L.jpg">
    <img src="https://i.imgur.com/vtENS40.jpg">
    <img src="https://i.imgur.com/h5cVMHj.jpg">
    <img src="https://i.imgur.com/9MZThyx.jpg">
    <img src="https://i.imgur.com/0PIbaT7.jpg">
    <img src="https://i.imgur.com/UU7mG3j.jpg">
  </div>
  <div class="column">
    <img src="https://i.imgur.com/kO6xCt2.jpg">
    <img src="https://i.imgur.com/2qYmbdN.jpg">
    <img src="https://i.imgur.com/a1E1XqZ.jpg">
    <img src="https://i.imgur.com/nTom7Q1.jpg">
    <img src="https://i.imgur.com/NdZeuhX.jpg">
    <img src="https://i.imgur.com/sw6ZT8Y.jpg">
    <img src="https://i.imgur.com/wABZ2yj.jpg">
  </div> 
  <div class="column">
    <img src="https://i.imgur.com/wa7kTHZ.jpg">
    <img src="https://i.imgur.com/sMYMngz.jpg">
    <img src="https://i.imgur.com/FOolaK6.jpg">
    <img src="https://i.imgur.com/E9JdkoA.jpg">
    <img src="https://i.imgur.com/xL67d3U.jpg">
    <img src="https://i.imgur.com/ApsZAlO.jpg">
    <img src="https://i.imgur.com/uIUcGkk.jpg">
    </div>
</div>

<footer> <% include ../partials/footer.ejs %> </footer>
</body>
</html>


<style type="text/css">
    .column {
    flex: 20%;
  
  
}


.column img {
  
    vertical-align: middle;
    width: 100%;
    border: 6px solid white;
  

  
}

.main_link{
    text-align: center;
    text-decoration: none;
    color: black;
    font-family: 'Lexend Giga', sans-serif;
}
.main_link:hover{
    border:5px solid white;
}
.name{
    margin-bottom: -15px;
}
.photoBody{
    background: url(https://i.imgur.com/H3REAUM.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}
.row {
    margin-top: 8px;
    padding-top: 62px;
    display: flex;
    flex-wrap: wrap;
    padding-left: 283px;
  
 
}


.subtitle{
    padding-top: 20px;
    font-size: 30px;
    font-family: 'Karla', sans-serif;
    text-transform: lowercase;
    padding-left: 14px;
    position: fixed;

}

.title{
    padding-top: 60px;
    color: white;
    text-align: center;
    font-size: 50px;
    font-family: 'Cedarville Cursive', cursive;

}


</style>