<html>
<link rel="stylesheet" type="text/css" href="index.css">
<link href="https://fonts.googleapis.com/css?family=Karla|Merriweather&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


<head>
    <link rel="icon" href="https://i.imgur.com/hSDwZMgs.jpg">
    <title>B+W</title>
</head>
<body>
    
    <header>
        <% include ../partials/sideNav.ejs %>
    </header>
    
    <div class="row"> 
  <div class="column">
    <img src="https://i.imgur.com/xc47pyp.jpg?1">
    <img src="https://i.imgur.com/yJdp23H.jpg">
    <img src="https://i.imgur.com/TXryung.jpg">
    <img src="https://i.imgur.com/LNXNcyq.jpg">
    <img src="https://i.imgur.com/MMdyeCe.jpg">
    <img src="https://i.imgur.com/NROE1H1.jpg">
    <img src="https://i.imgur.com/04NWKqp.jpg">
  </div>
  <div class="column">
    <img src="https://i.imgur.com/KRIoQwC.jpg">
    <img src="https://i.imgur.com/LsCO6Em.jpg">
    <img src="https://i.imgur.com/um815Fg.jpg">
    <img src="https://i.imgur.com/R95eVob.jpg">
    <img src="https://i.imgur.com/a3AhmXI.jpg">
    <img src="https://i.imgur.com/sVbllcD.jpg">
    <img src="https://i.imgur.com/NyP3GxB.jpg">
  </div> 
  <div class="column">
    <img src="https://i.imgur.com/JWFGUnA.jpg">
    <img src="https://i.imgur.com/VdX3clq.jpg">
    <img src="https://i.imgur.com/RHM9710.jpg">
    <img src="https://i.imgur.com/d22cxC7.jpg">
    <img src="https://i.imgur.com/annKDBs.jpg">
    <img src="https://i.imgur.com/fQljJ5t.jpg">
    <img src="https://i.imgur.com/NA9eNpn.jpg">
    </div>
</div>

<footer> <% include ../partials/footer.ejs %> </footer>
</body>
</html>


<style type="text/css">
    .column {
    flex: 20%;
  
  
}


.column img {
  
    vertical-align: middle;
    width: 100%;
    border: 6px solid black;
  

  
}

.column{
    background: black;
}

.main_link{
    text-align: center;
    text-decoration: none;
    color: black;
    font-family: 'Lexend Giga', sans-serif;
}
.main_link:hover{
    border:5px solid white;
}
.name{
    margin-bottom: -15px;
}
.photoBody{
    background: url(https://i.imgur.com/H3REAUM.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}
.row {
    margin-top: 8px;
    padding-top: 62px;
    display: flex;
    flex-wrap: wrap;
    padding-left: 283px;
  
 
}


.subtitle{
    padding-top: 20px;
    font-size: 30px;
    font-family: 'Karla', sans-serif;
    text-transform: lowercase;
    padding-left: 14px;
    position: fixed;

}

.title{
    padding-top: 60px;
    color: white;
    text-align: center;
    font-size: 50px;
    font-family: 'Cedarville Cursive', cursive;

}


</style>