<html>
<link rel="stylesheet" type="text/css" href="index.css">
<link href="https://fonts.googleapis.com/css?family=Karla|Merriweather&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<head>
    <link rel="icon" href="https://i.imgur.com/hSDwZMgs.jpg">
    <title>By EmmaCaroline</title>
</head>
<body>
    
    <header>
        <% include ../partials/sideNav.ejs %>
    </header>
    
    <div class="row"> 
      <form action="/signup" method="POST">
        <div class="form-group">
            <label for="email">E-mail</label>
            <input type="text" name="email" id="email" class="form-control">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" class="form-control">
        </div>
        <button type="submit">Sign Up</button>
    </form>
    </div>

</body>
</html>
<style type="text/css">

}
.name{
    margin-bottom: -15px;
}



.subtitle{
    padding-top: 20px;
    font-size: 30px;
    font-family: 'Karla', sans-serif;
    text-transform: lowercase;
    padding-left: 14px;
    position: fixed;

}

.title{
    padding-top: 60px;
    color: white;
    text-align: center;
    font-size: 50px;
    font-family: 'Cedarville Cursive', cursive;

}


</style>

